@page "/index"
@using Microsoft.AspNetCore.Authentication.Cookies
@*@attribute [Authorize(Roles = "Administrador")]*@
@attribute [Authorize]
@*<AuthorizeView>
        <Authorized>
            <h4>Hello, @context.User.Identity.Name!</h4>
            <p>This content is only visible if user is authenticated.</p>
        </Authorized>
        <NotAuthorized>
            <p>Please signed in.</p>
        </NotAuthorized>
    </AuthorizeView>*@
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Arbros S.A.</h1>
        <hr />
        <p class="lead">Sistema de Gestión.</p>
        <hr />
    </div>
</div>
<!--Grid row-->
<div class="row">
    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card gradient-card">
            <div class="card-image">
                <!-- Content -->
                <a href="PageCargaMaquina">
                    <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h5 class="card-title" style="color: #2300FF; text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Carga de Máquina</h5>
                            <!--<p class="lead mb-0" style="color:blue; font-weight:bold;text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Ingresar al Módulo</p>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card gradient-card">
            <div class="card-image">
                <!-- Content -->
                <a href="kanban">
                    <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h5 class="card-title" style="color: #2300FF; text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Logística</h5>
                            <!--<p class="lead mb-0" style="color:blue; font-weight:bold;text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Ingresar al Módulo</p>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card gradient-card">
            <div class="card-image">
                <!-- Content -->
                <a href="sc/servicio/list">
                    <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h5 class="card-title" style="color: #2300FF; text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Servicios - Reparaciones</h5>
                            <!--<p class="lead mb-0" style="color:blue; font-weight:bold;text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Ingresar al Módulo</p>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card gradient-card">
            <div class="card-image">
                <!-- Content -->
                <a href="trazabilidad">
                    <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h5 class="card-title" style="color: #2300FF; text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Trazabilidad</h5>
                            <!--<p class="lead mb-0" style="color:blue; font-weight:bold;text-shadow: 0 0 3px #F0FFFF, 0 0 5px #F0FFFF;">Ingresar al Módulo</p>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!--Grid column-->
</div>
<!--Grid row-->
@code{
    [CascadingParameter] public Task<AuthenticationState> authenticationState { get; set; }
    public AuthenticationState AuthState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        AuthState = await authenticationState;
        var user = AuthState.User.Identity.Name;
    }
}