<ul class="nav flex-row">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span>Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="CalidadProyectos">
            <span aria-hidden="true"></span>Control de calidad
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="PageCargaMaquina">
            <span aria-hidden="true"></span>Carga de máquina
        </NavLink>
    </li>
    @*<li class="nav-item">
            <NavLink class="nav-link" href="xxx">
                <span aria-hidden="true"></span>Xxx
            </NavLink>
        </li>*@
</ul>
